@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

body {
    background-color: rgba(250, 235, 215, 0.34);
    font-family: Roboto sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

ul li {
    text-transform: capitalize;
}

img {
    width: 400px;
}

footer {
    margin: 1rem auto;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
